[Desktop Entry]
Type=Application
Name=JSM-Proxy
Comment=Wrapper for executables without direct NSM-Support.
Exec=jsm-proxy
Icon=jsm-proxy
Terminal=false
StartupNotify=false
Version=1.0
Categories=AudioVideo;Audio;
X-NSM-Capable=true
X-NSM-Exec=jsm-proxy
NoDisplay=true
Name[en_GB]=jsm-proxy.desktop
